{
 "regex": [
   { "schema": [ "patients" ],"table":[]}
 ],
 "DirectoryPath":"C:/Projects/repos/CapsicoWebReports/DataImport/ut/com/capsico/analyzer/results/",
 "dbconnectionname": "MAIN",
 "rules" : [{"column":"schema.table.column","regex":["xxx-","(xxx)"]}]
}