
.dotted_underline { 
   border-bottom: 1px dotted; 
 } 
.modal { 
   display: none; /* Hidden by default */ 
   position: fixed; /* Stay in place */ 
   z-index: 1; /* Sit on top */ 
   left: 0; 
   top: 0; 
   width: 100%; /* Full width */ 
   height: 100%; /* Full height */ 
   overflow: auto; /* Enable scroll if needed */ 
   background-color: rgb(0,0,0); /* Fallback color */ 
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */ 
 } 
   
.modal-content { 
   background-color: #fefefe; 
   margin: 2% auto; /* 10% from the top and centered */ 
   padding: 20px; 
   border: 1px solid #888; 
   width: 90%; 
   height: 82%; 
   overflow: auto; 
 } 
   
.close { 
   color: #aaa; 
   float: right; 
   font-size: 28px; 
   font-weight: bold; 
 } 
.cursor_pointer { 
   cursor: pointer; 
 } 
.close:hover, .close:focus { 
   color: black; 
   text-decoration: none; 
   cursor: pointer; 
 } 

#search_input {
   padding:2px;
   width: 250px;
   margin-left: 5px;
   border:2px solid #CCC;
   -webkit-border-radius: 5px;
   border-radius: 5px;
 }
.search_results { 
   background-color: #FFF;
   border: 2px ridge #F09819; 
   display: none; 
   height: 450px; 
   position: absolute;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   overflow-y: auto; /* Enable scroll if needed */ 
   overflow-x: hidden;
 }
.search_results.Selectable TR:hover TD {
   background-color:#c0fdd0;
}

.search_results .scrollLock { 
   overflow: hidden;
 }
.search_results TH {
   background-color: #FFC837;
   font-weight: bold;
   border-bottom: 2px #666 solid;
   padding: 0px;
   font-weight: bold;
 }
.search_results A {
   color: #000;
 }
.search_results TR:nth-child(odd) TD {
   background-color: #fff6d6;
 }
.search_results TR:nth-child(even) TD {
   background-color: #FFF;
 }
.search_results TR TD {
   padding-right: 10px;
 }
 
@keyframes blinkAnimation {   
   from { background-color: #F77; visibility: visible }
   to   { background-color: white; visibility: hidden; } 
 } 
.blink_div { 
   animation: blinkAnimation 0.25s infinite;
}

input[type=text]:focus {
   border-color:#DFECF8;
 } 

.RowedTable > TBODY > TR > TD {
   vertical-align: top;
   border: 1px solid black;
 }
.RowedTable > TBODY >TR > TD:nth-child(1) {
   padding-right: 5px;
   text-align: right;
 }
.TreeTable {
   border: 2px outset #aaa;
}
.TreeTable > TBODY > TR > TD {
   vertical-align: top;
   border: 0px solid black;
 }
.TreeTable > TBODY >TR > TD:nth-child(1) {
   padding-right: 5px;
   text-align: left;
 }
.Rowed TR TD {
   padding-left: 10px;
}
.Rowed TR:nth-child(odd) TD {
   background-color: rgba(173, 244, 173, 0.2);
}
.Rowed TR:nth-child(even) TD {
   background-color:#FFFFFF;
 }
.Selectable TR:hover {
   cursor: pointer;   
}
.Selectable TR:hover TD {
   background-color:#fff6d6;
}
.Selected TD {
   background-color:#FFC837 !important;
}
.RowedSection TD {
   border-top: 2px #666 solid;
}
.NoRowed TR TD{
   border-bottom: 0px;
   background-color: none;
}
.NoSelection TD {
   cursor: auto;
   background-color: #eee !important;;
   font-size: 125%;
}

.BackToDetails {
   display: none;
 }
.sticky {
    position: fixed;
    top: 0;
    left: 33%;
    background: #F09819;
    background: -webkit-linear-gradient(to top, #F09819, #FFC837);
    background: linear-gradient(to top, #F09819, #FFC837);
    color: #000;
    border-radius: 20px 0px 0px 20px;
    padding-left: 20px;
    width: 67%;
    box-shadow: -3px 5px 0px #BBB;
}
.sticky H2 {
   margin: 0px;
   padding: 0px;
 }
.sticky + .content {
   padding-top: 90px;
 }
.sticky .BackToDetails {
   display: inline;
 }

 
.offScreenOpacity0 {
    opacity: 0;
    transition: 0.66s;
}

.fadeInSlideTo0 {
    opacity: 1;
}


#MI {
  position: fixed;
  top: 9em;
  bottom: 30px;
  width: 100%;
}

#MI_SCHEMAS, #MI_OBJECTS, #MI_COLUMNS, #MI_DOCS {
   float: left;
   height: 98%;
   margin-top: 30px;
   padding-right: 20px;
   overflow-y: auto;
   overflow-x: hidden;
   scrollbar-width: thin;
   min-width: 150px;
}

#FILTER_SCHEMAS, #FILTER_OBJECTS, #FILTER_COLUMNS {
   position: absolute;
   top: 0px;
}

#MI_DOCS {
   position: absolute;
   right: 20px;
   overflow-x: auto;
   background-color: #FFF;
   top: -2em;
   max-width: 50%;
}


fieldset {
  border: 0px;
  border-top: 2px solid #aef;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-left: 25px;
  width: 95%;
}
fieldset legend {
   font-size:125%;
   padding-left: 10px;
   padding-right: 10px;
   margin-left: -10px;
}

.Measure {
   color: #6688AA;
}
.Measure:after {
   content: 'MEASURE';
}
.Measure:hover::after {
   font-variant: normal;
   content: 'THIS FORMULA IS CATALOGUED AS A MEASURE.';
   color: #EE5577;
}

A[target="_other"]::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0px 3px 0px 3px;
}
