.objects {
  position: relative;
}

.link-tools .tool-remove { display: none }
.link-tools .tool-options { display: none }

.inline{
  float: left
}

td:hover { 
  background-color: whitesmoke !important;
  cursor: pointer;
}

td.Mapper {
  background-color: #F8CBAD;
}

td.Enumeration {
  background-color: #FBE5D6;
}

td.Object {
  background-color: #A6C9E8;
}

td.View {
  background-color: #A9D18E;
}