.objects {
  position: relative;
}

.link-tools .tool-remove { display: none }
.link-tools .tool-options { display: none }

.inline{
  float: left
}

td:hover { 
  background-color: silver;
  cursor: pointer;
}