/bin/
/src/tilda/data/_Tilda.temp
#/ut/tilda/tutorial/data/_Tilda
#/ut/tilda/data_test/_Tilda
*.DS_Store
/target/
/tilda-docs.jar
/tilda.jar
/releases/
/tilda-*.jar
/tilda-*-dependencies.zip
.tildaWorkbench
/tilda.migration.*
/ut/log4j2.xml
/ut/log4j2.xml.SAVED
/ut/tilda.config.json
/ut/tilda.config.json.SAVED

*.DS_Store
**/capsico.*.log
**/log4j2.xml
**/tilda.config.json
**/WebBasics.config.json

